{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<title>{% block title %} {% endblock %}</title>
{% endblock head %}

{% block content %}
Привет, {{request.user.username}}!
Вот твои игры:
<br> {% for game in games %}
{{game.title}}<br>
{% endfor %}
<br> Ты добавил в список «Хочу поиграть»:
<br> {% for element in wanna_play %}
{{element.games_user_added_id}}
{% endfor %}
<p>Сейчас ты играешь в:
<br>{% for videogame in playing %}
{{videogame.games_user_added_id}}<br>
{% endfor %}
{% endblock content %}


{% block search %}
{% endblock %}

{% block buttons %}
{% endblock buttons %}

{% block feed %}
{% include "feed.html" %}
{% endblock feed %}

